*.code-workspace
*.csproj.lnk
*.md.lnk
musicApp Nightly Release.exe
musicApp/.vs
musicApp/bin
musicApp/obj
musicApp/.updater/bin
musicApp/.updater/obj
musicApp/.installer/Output/
.vs/
obj/
.buildNotes.md