*.code-workspace
*.csproj.lnk
*.md.lnk
musicApp Nightly Release.exe
musicApp/.vs
musicApp/bin
musicApp/obj
musicApp/.updater/bin
musicApp/.updater.swap/bin
musicApp/.updater/obj
musicApp/.updater.swap/obj
.installer/Output/
.vs/
.web/mainPage/public/
.web/mainPage/resources/
.web/mainPage/*.lock
obj/
.buildNotes.md
buildNotes.md
.resources/exe/yapBot.json
.md/YapBot.json
desktop.ini